<div class="container-fluid Header1">
    <div class="banner">
        <h1 class="My-header">My Portfolio</h1>
    </div>
    <div class="menu_bg">
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <ul class="header-nav nav nav-pills navbar-left">
                    <li role="presentation">
                        <a routerLink="AboutMe">ABOUT ME</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="MyWork">MY WORK</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="Contact">RESUME</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>