<div class="container-fluid user-container">
    <div class="spacing">
        <div class="row">
            <div class="col-md-6">
                <h6 class="display-3 text ">HIMANSHI BARANWAL</h6><br><br>
                <h6><b>Computer Science and Engineering</b><br><br> vintage.himanshi23@gmail.com<br>himanshi.baranwal@btech.christuniversity.in<br>+919741596129
                    <br> Bangalore, India</h6>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <b>OBJECTIVE:</b>
                <h6> To learn and work with the knowledge gained during my undergraduate program, and thus contribute to the growth of self as well as of the organization.</h6>
                <br><b>EDUCATIONAL QUALIFICATIONS</b><br>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Degree/Certificate</th>
                            <th scope="col">Board/University</th>
                            <th scope="col">Year of Passing</th>
                            <th scope="col">Marks(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">10th</th>
                            <td>CBSE</td>
                            <td>2012</td>
                            <td>87.4%</td>
                        </tr>
                        <tr>
                            <th scope="row">12th</th>
                            <td>CBSE</td>
                            <td>2014</td>
                            <td>86.2%</td>
                        </tr>
                        <tr>
                            <th scope="row">UG Course</th>
                            <td>Christ University</td>
                            <td>2019</td>
                            <td>70%</td>
                        </tr>
                    </tbody>
                </table>
                <b>CERTIFICATION PROGRAMS</b><br>
                <h6>Data and Hadoop<br>Photography</h6>
                <b>INTERNSHIP</b><br>
                <h6>Web Development in DRDO<br>Angular and Bootstrap in AquaFund</h6>
                <b>IT SKILLS</b><br>
                <b>Languages: </b>
                <h6>C, Java, C#, Python</h6>
                <b>Scripting Languages: </b><br>
                <h6>HTML, CSS, JavaScript(Basics)</h6>
                <b>Framework: </b>
                <h6>Bootstrap, Angular</h6>
                <b>Others: </b>
                <h6>Adobe Photoshop, Adobe Illustrator(Basics), Adobe-XD, SQL, Corel Draw, Dialogflow</h6>
                <b>EXTRA CURRICULAR ACTIVITIES</b><br>
                <h6>National Cadet Corps(Air wing- Flying)-1 KAR AIR</h6>
                <h6>Rotaract Club of Jayanagar(NGO)</h6>
                <b>HOBBIES AND INTEREST</b><br>
                <h6>Photography</h6>
                <h6>Art</h6>
                <h6>Writing</h6>
                <b>PERSONALITY DETAILS</b><br>
                <h6>Date of Birth : 05/12/1995</h6>
                <h6>Language Known : English, Hindi</h6>
                <h6>Permanent Address: B 36/10-Kaivalyadham Colony, Durgakund, Varanasi</h6>
            </div>
        </div>
    </div>
    <hr>
</div>