<app-nav></app-nav>
<div class="container-fluid user-container-about">
    <div class="row detail">
        <div class="spacing">
            <div class="col-md-4">
                <img src="\assets\Himanshi.jpg" style=" height:300px; border-radius: 5%;">
                <!--Photograph-->
            </div>
            <div class="col-md-8 content">
                <h2 class="display-5">
                    I am a passionate designer, who loves designing and arts to the core. My field of interest was always arts and designs, although I have been from a technical background, I like exploring the game of colors, the change of form from lines. Apart from all
                    of this, I am a shutterbug. I am spontaneous and bosterious ball of energy who can not sit ideally and loves working.
                </h2>
                <!--Detail about me-->
            </div>
        </div>
    </div>
</div>
<!--Navigation-->
<app-footer></app-footer>