<div class="container-fluid user-container">
    <div class="spacing">
        <div data-toggle="modal" data-target="#myModal1">
            <div class="row my_work_border1">
                <div class="col-md-4 "><img src="\assets\2394.jpg " class="round-img" width="200px" height="200px"></div>
                <div class="col-md-8 work-detail">
                    <h1 class="detail">Commercial Arts: Check out for some of my collections.</h1>
                </div>
            </div>
        </div>
        <!--button for trigger-->
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="jumbotron modal-title" id="modal_title">
                            <h6 class="detail display-4">Commercial Arts</h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <br>
                        <div class="jumbotron">
                            <img src="\assets\eagle.jpg" class="work_content">
                            <img src="\assets\perfume.jpeg" class="work_content">
                            <img src="\assets\jewellery.jpg" class="work_content">
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Arts End-->
        <div data-toggle="modal" data-target="#myModal2">
            <div class="row my_work_border2">
                <div class="col-md-4 "><img src="\assets\12853-NOYC9F.jpg" class="round-img" width="200px" height="200px"></div>
                <div class="col-md-8 work-detail">
                    <h1 class="detail">Photography: A shutterbug would not fail to surprise.</h1>
                </div>
            </div>
        </div>
        <!--button for trigger-->
        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="jumbotron modal-title" id="modal_title">
                            <h6 class="detail display-4">Photography</h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <br>
                        <div class="jumbotron">
                            <img src="\assets\IMG_3190.JPG" class="work_content">
                            <img src="\assets\IMG_4319.JPG" class="work_content">
                            <img src="\assets\IMG_4258.JPG" class="work_content">
                        </div>
                    </div>
                    <div class=" modal-footer ">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Photography end-->
        <div data-toggle="modal" data-target="#myModal3">
            <div class="row my_work_border3">
                <div class="col-md-4 "><img src="\assets\826388176-170667a.jpg" class="round-img" width="200px" height="200px"></div>
                <div class="col-md-8 work-detail">
                    <h1 class="detail">Digital Arts: A few of my collections.</h1>
                </div>
            </div>
        </div>
        <!--button for trigger-->
        <div id="myModal3" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="jumbotron modal-title" id="modal_title">
                            <h6 class="detail display-4">Digital Arts</h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <br>
                        <div class="jumbotron">
                            <img src="\assets\gaming.jpg" class="work_content">
                            <img src="\assets\Python.jpg" class="work_content">
                            <img src="\assets\gaming2.jpg" class="work_content">
                        </div>
                    </div>
                    <div class=" modal-footer ">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Digital Art end-->
    </div>
    <hr>
</div>